.Movie-category-page{
    width:100%;
    height:100vh;
}
.movie-category-page-name{
    font-size: calc(1rem + 1.4vh);
    text-align: center;
    text-transform: uppercase;
}
.movie-items-block{
    width:90%;
    margin:5vh auto;
    height:fit-content;
    padding:3vh 0vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:5vh 0.6vw;
}